# ============================================
# SSO App (Frontend) Environment Variables
# ============================================
# Vite uses VITE_ prefix for environment variables
 
# API Configuration
VITE_SSO_API_URL=http://localhost:3000/api
VITE_EXPERIENCE_APP_URL=http://localhost:5174
 
 
# Products
VITE_CUSTOMER_PORTAL_URL="http://localhost:5175"
VITE_INVOX_URL="http://localhost:5176"
VITE_IREPO_URL="http://localhost:5177"
VITE_ACCOUNTS_URL="http://localhost:5174"
 
# Application Configuration (Optional)
VITE_APP_NAME=iCaptur SSO
VITE_APP_URL=http://localhost:5173
PORT=5173